@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  :root {
    --primary: #1d4ed8;      
    --primary-dark: #1e40af;
    --danger: #dc2626;       
    --danger-hover: #b91c1c;
    --gray: #4b5563;
    --light-bg: #f9fafb;
    --card-bg: #ffffff;
  }

  [data-theme="dark"] {
    --primary: #60a5fa;
    --primary-dark: #3b82f6;
    --danger: #f87171;
    --danger-hover: #ef4444;
    --gray: #9ca3af;
    --light-bg: #111827;
    --card-bg: #1f2937;
  }
}